<h3 class="productsColor">Product Form</h3>
<h4 class="productsColor">Template Driven Form</h4>
<div class="card bg-light">
  <div class="card-body">
    <form>
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" cols="30" rows="4" id="description" name="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="isAvailable" name="isAvailable" value="true"> Available
        </label>
      </div>
      <button name="save" type="submit" class="btn btn-primary">
        Save
      </button>
    </form>
  </div>
</div>
<div class="alert alert-success" *ngIf="showMessage">
  Product saved successfully!
</div>